div
  a(href='https://www.facebook.com/') Siguenos en Facebook
  a(href='https://twitter.com/iniciarsesion?lang=es') Siguenos en Twitter
  a(href='https://plus.google.com/people') Siguenos en Google+
  a(href='https://www.youtube.com/') Siguenos en Youtube
  