extends templates/template.pug

append config
  -pageTitle = 'Contacto'
  -description = 'Seccion Contacto - Creativos ABC'

block main
  <iframe height="500" allowTransparency="true" frameborder="0" scrolling="no" style="width:100%;border:none" src="https://danilojz90.wufoo.com/embed/m1j5u9sm03nu4op/">
    <a href="https://danilojz90.wufoo.com/forms/m1j5u9sm03nu4op/">
      Fill out my Wufoo form!
    </a>
  </iframe>
  <div id="wuf-adv" style="font-family:inherit;font-size: small;color:#a7a7a7;text-align:center;display:block;">
    <span class="notranslate">
      Online contact and registration forms from <a href="http://www.wufoo.com">Wufoo</a>.
    </span>
  </div>
  div
    <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1E-Lj3EHT5ImXQnydBU-edUkrmz8itKy3" width="640" height="480"></iframe>
                                              