extends templates/template.pug

append config
  -pageTitle = 'Portafolio'
  -description = 'Seccion Portafolio - Creativos ABC'

block main
  h1 Portafolio
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, reiciendis molestias explicabo aspernatur iusto deleniti voluptates expedita ipsum? Veniam voluptate ut natus aspernatur magnam magni consequuntur quis sequi repudiandae eum.